@use 'colors' as *;
@use 'mixins' as *;
@use 'layout';
@use 'sidebar';
@use 'chat';
@use 'message';

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body.app {
    margin: 0;
    background: var(--bg);
    color: var(--fg);
}

/* Scrollbar (optional) */
.messages::-webkit-scrollbar,
.chatlist::-webkit-scrollbar {
    width: 8px;
}

.messages::-webkit-scrollbar-thumb,
.chatlist::-webkit-scrollbar-thumb {
    background: var(--muted);
    border-radius: 999px;
}