@use 'mixins' as *;

.chat {
  @include card;
  display: flex;
  flex-direction: column;

  &__header {
    @include cardHeader;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__peer {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__avatar {
    @include avatar;
  }

  &__name {
    font-weight: 600;
  }

  &__status {
    font-size: 0.9rem;
    opacity: 0.7;
  }
}

.messages {
  background-image: url("../img/bg.jpg");
  background-size: 500px 850px;
  background-repeat: repeat;

  flex: 1;
  gap: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  .messages {
    background-image: url("../img/bg-dark.jpg");
    background-size: 350px 550px;
  }
}

.composer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px;
  border-top: 1px solid var(--border);

  &__btn {
    background-color: transparent;
    font-size: 1.2rem;
    border: 0;
  }

  &__input {
    flex: 1 1 220px;
    background-color: transparent;
    color: var(--font-color);
    padding: 14px;
    border: 1px solid var(--border);
    border-radius: 14px;
  }

  &__send {
    padding: 10px 16px;
    border: 0;
    background-color: var(--primary);
    font-weight: 600;
    border-radius: 15px;

    &:hover {
      filter: brightness(0.9);
    }
  }
}