:root {
  --bg: #f5f7fb;
  --bg-elev: #ffffff;
  --font-color: #111827;

  --border: #e5e7eb;

  --primary: #10b981;

  --bubble-in: #ffffff;
  --bubble-out: #dcfce7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0b1220;
    --bg-elev: #121a2a;
    --font-color: #e5e7eb;

    --border: #1f2937;

    --primary: #34d399;

    --bubble-in: #111827;
    --bubble-out: #0f172a;
  }
}