.msg {
  max-width: 70%;
  display: flex;
  flex-direction: column;

  &__bubble {
    background-color: var(--bubble-in);
    padding: 10px 12px;
    border: 1px solid var(--border);
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  }

  &--in {
    align-self: flex-start;

    .msg__bubble {
      border-top-left-radius: 0;
    }
  }

  &--out {
    align-self: flex-end;

    .msg__bubble {
      background-color: var(--bubble-out);
      border-top-right-radius: 0;
    }
  }

  &__time {
    font-size: 0.75rem;
    opacity: 0.7;
  }

  &__meta {
    display: flex;
    align-items: center;
    align-self: flex-end;
  }
}