@mixin card() {
  background-color: var(--bg-elev);
  border: 1px solid var(--border);
  border-radius: 20px;
}

@mixin cardHeader() {
  padding: 16px;
  border-bottom: 1px solid var(--border);
}

@mixin avatar() {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}