.msg {
  display: flex;
  flex-direction: column;
  max-width: 70%;

  &--in {
    align-self: flex-start;

    .msg__bubble {
      border-top-left-radius: 0;
    }
  }

  &--out {
    align-self: flex-end;

    .msg__bubble {
      background-color: var(--bubble-out);
      border-top-right-radius: 0;
    }
  }

  &__bubble {
    background-color: var(--bubble-in);
    padding: 10px 12px;
    border-radius: 12px;
    border: 1px solid var(--border);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  &__time {
    font-size: 0.65rem;
    opacity: 0.6;
  }

  &__meta {
    align-self: flex-end;
  }
}